In [1]:
import numpy as np
import pandas as pd

address = 'C:/Users/soso/Desktop/Projects/GitHub Projects/DS/Radiation-Analysis/Milk_RadNet_Lab_Analysis.csv'
df = pd.read_csv(address)
rad = df.replace({'Non-detect': np.nan})

isot_complete = rad[['Ba-140', 'Co-60', 'Cs-134', 'Cs-136', 'Cs-137', 'I-131', 'I-132', 'I-133', 'Te-129', 'Te-129m', 'Te-132']]
isot_reduce_row_all_NaN = isot_complete.dropna(how='all')
isot_reduce_col_all_NaN = isot_reduce_row_all_NaN.dropna(how='all', axis=1)
isot = isot_reduce_col_all_NaN
info = df.ix[[25, 26, 28, 32, 34, 35, 38, 39, 40, 41, 56],['State', 'Location', 'Date Posted', 'Date Collected', 'Sample Type', 'Unit']]
isotopes = pd.concat([info, isot], axis=1)
isotopes

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Cs-134,Cs-137,I-131
25,HI,Hilo,04/10/2011,04/04/2011,Milk,pCi/l,24,19,18
26,HI,Hilo,04/20/2011,04/13/2011,Milk,pCi/l,11,10,NaN
28,MO,Jefferson City,04/20/2011,04/13/2011,Milk,pCi/l,NaN,NaN,3
32,AR,Little Rock,04/09/2011,03/30/2011,Milk,pCi/l,NaN,NaN,8.9
34,CA,Los Angeles,04/06/2011,03/28/2011,Milk,pCi/l,NaN,NaN,2.9
35,CA,Los Angeles,04/20/2011,04/13/2011,Milk,pCi/l,NaN,NaN,4
38,TN,Memphis,04/16/2011,04/11/2011,Milk,pCi/l,NaN,NaN,4
39,VT,Montpelier,04/08/2011,03/30/2011,Milk,pCi/l,NaN,1.9,NaN
40,CA,Oakland,04/20/2011,04/13/2011,Milk,pCi/l,2.5,NaN,3.7
41,AZ,Phoenix,04/06/2011,03/28/2011,Milk,pCi/l,NaN,NaN,3.2
56,WA,Spokane,04/02/2011,03/25/2011,Milk,pCi/l,NaN,NaN,0.77